server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:

      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_FIRST

      routes:

        # -------------------------------
        # DOCUMENT METADATA SERVICE
        # -------------------------------
        - id: document-metadata
          uri: http://localhost:8081
          predicates:
            - Path=/metadata/**
          filters:
            - StripPrefix=1

        # -------------------------------
        # FILE STORAGE SERVICE
        # -------------------------------
        - id: file-storage
          uri: http://localhost:8082
          predicates:
            - Path=/file-storage/**
          filters:
            - StripPrefix=1

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
