server:
  port: 8082

spring:
  application:
    name: file-storage-service

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

storage:
  base-dir: ./data/uploads

jwt:
  secret: THIS_IS_A_32_CHAR_MIN_SECRET_KEY_123456
  expiration-ms: 3600000
